# Ignorar archivos de entorno local
.env
.env.local

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Paquetes y distribuciones
build/
dist/
*.egg-info/

# Entornos virtuales
venv/
ENV/
env/
.venv/

# IDEs y editores
.vscode/
.idea/

# Logs
*.log

# Base de datos local
*.sqlite3

# Docker override
docker-compose.override.yml

# Archivos del sistema
.DS_Store
Thumbs.db
